.marginTop {
  margin-top: 30px !important;
}
.aboutme {
  display: flex;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  z-index: 10;
  /* background: rgba(0, 255, 255, 0.1); */
  backdrop-filter: blur(2px);
  /* -webkit-backdrop-filter: blur(10px);  */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* transition: all 0.3s ease; */
}

.aboutme-text {
  width: 60%;
  text-align: center;
}
.name {
  font-weight: bold;
  color: rgb(255, 7, 7);
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
}
.aboutme-title {
  color: aqua;
  font-size: 2rem;
}
.typewriter {
  overflow: hidden;
  border-right: 0.15em solid aqua;
  white-space: wrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
.aboutme-desc {
  font-size: 20px !important;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: aqua;
  }
}
.aboutme-img {
  height: 200px;
  width: 300px;
  border-radius: 50px;
}
.tech-animation {
  /* height: 300px; */
  width: 650px;
}
@media (max-width: 800px) {
  .tech-animation {
    display: none;
  }
  .aboutme-text {
    width: 100%;
    padding: 0 !important;

    color: white !important;
  }
  .aboutme-desc {
    font-size: 20px !important;
  }
  .aboutme-title {
    font-size: 25px !important;
  }
}
.resume-button {
  color: white;
  display: flex;
  align-items: center;
  background-color: tomato !important;
}
